.dropdawon-custom {
  top: -13px;
  left: 37px;
}

.btn-pink-2k {
  color: #001b79 !important;
  border-radius: 10px !important;
  scale: 0.9 !important;
  border-radius: 10px !important;
  border-style: none !important;
  padding: 6px 40px !important;
}
.ql-toolbar {
  border-radius: 10px;
  text-align: center;
}
