@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 75%;
  }
}
.content {
  margin-right: 20%;
  height: calc(100vh - 150px);
}
@media (max-width: 576px) {
  .content {
    margin-right: 20px;
  }
}
.pupolar {
  flex: 1;
  display: flex;
  align-items: end;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .conatiner-form {
    width: 90% !important;
  }
}
@media (max-width: 576px) {
  .pupolar {
    width: 90%;
  }
}
.NewChatContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  height: 100%;
  margin-top: 50px;
}
@media (max-width: 576px) {
  .NewChatContainer {
    height: 90vh;
  }
}
.NewChat .NewChatContainer .chat-option {
  border-radius: 0.625rem;
  border: 1px solid #000000;
  padding: 0.5rem;
  margin-top: 8rem;
}
.NewChat .NewChatContainer .chat-option button {
  width: 90%;

  font-size: 0.875rem;
  background-color: transparent;
  color: #001b79;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 0.625rem;
  transition: all 0.4s;
  border: none;
  text-align: center;
}

.NewChat .NewChatContainer .chat-option button:hover {
  background: rgba(201, 201, 201, 0.2);
}
.NewChat .NewChatContainer .chat-option button img {
  width: 10%;
  margin-left: 0.63rem;
  margin-right: 0.63rem;
}

.NewChat .NewChatContainer .chat-heading h3 {
  color: #001b79;
  text-align: center;
  font-family: Arabic;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 109.091% */
}

.NewChat .NewChatContainer .chat-details .item-container {
  /* border: 1px solid #001b79; */
  /* border-radius: 0.75rem; */
  box-shadow: 20px 20px 80px 0px rgba(0, 27, 121, 0.05);
}
.NewChat .NewChatContainer .chat-details .item {
  border: 1px solid #000;
  border-radius: 0.3125rem;
  padding: 1.2rem 2.5rem;
}
.NewChat .NewChatContainer .chat-details .item h5 {
  color: #001b79;
  text-align: right;
  font-family: Montserrat-Arabic;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 133.333% */
}
.NewChat .NewChatContainer .chat-details .item p {
  color: #001b79;
  text-align: right;
  font-family: Montserrat-Arabic;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 200% */
}
.NewChatContainer input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: end;
  font-size: 1rem;
  height: 3rem !important;
  max-height: 7rem !important;
  font-style: normal;
  overflow-y: scroll !important;
  overflow: hidden !important;
  font-weight: 400;

  line-height: 1.5rem !important; /* 171.429% */
  color: #001b79;
}

.submit {
  margin-top: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: fit-content;
  background: transparent;
  transform: rotate(180deg);
}
.submit img {
  width: 2.5rem;
  height: auto;
}
.conatiner-form {
  padding: 5px 8px;
  border: 1px solid #692bef23;
  border-radius: 12px;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}
.input-container {
  border-radius: 10px;
  border: 1px solid #692bef23;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #001b79;
}
a:hover {
  text-decoration: none;
  color: #001b79;
  background-color: rgb(243, 243, 243);
}
.text-Light {
  font-family: "GE SS Two Light" !important;
}
.border-col {
  border: 1px solid #001a7916;
  margin: 9px;
}
.NewChat .NewChatContainer textarea {
  line-height: 1.5rem; /* 171.429% */
  color: #001b79;
  resize: none;
}
.NewChat .NewChatContainer .input {
  position: relative;
}
.NewChat .NewChatContainer .input .overlay1,
.NewChat .NewChatContainer .input .overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
  display: flex;
  align-items: center !important;
  cursor: pointer;
}
.NewChat .NewChatContainer .input .overlay2 {
  right: 5rem;
}
.NewChat .NewChatContainer .input .overlay1 {
  left: 1rem;
}

.NewChat .NewChatContainer .input .overlay1 .rise {
  background-color: #001b79;
  padding: 0.6rem;
  border-radius: 0.3125rem;
}
.NewChat .NewChatContainer .input .overlay2 img,
.NewChat .NewChatContainer .input .overlay1 img {
  width: 2.5rem;
}
.NewChat .NewChatContainer .input .overlay2 .plus,
.NewChat .NewChatContainer .input .overlay2 .micro {
  width: 2rem;
  padding-left: 0.5rem;
}

.dropdown-toggle::after {
  display: none;
}
.btn {
  border: none;
}
.attatch-img {
  width: 60%;
}
.dropdown-menu {
  padding: 1rem 0.3rem 0.4rem 4rem;
}
.show {
  inset: auto auto 0 -3rem !important;
}
.dropdown-item {
  color: #001b79;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 150% */
}
@media screen and (max-width: 1024px) {
  .chat-option {
    width: 75% !important;
  }
}
@media screen and (max-width: 776px) {
  .chat-option {
    width: 85% !important;
  }
}
@media screen and (max-width: 575px) {
  .NewChat .NewChatContainer .item-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 375px) {
  .chat-option {
    width: 95% !important;
  }
}
