.content-massage{
  overflow-wrap:break-word  !important;
  max-width:700px !important;
}
.chat-height {
  min-height: 520px !important;
  max-height: 520px !important;
}

.example::-webkit-scrollbar {
  width: 5px;
  direction: rtl !important;


}

/* Track */
.example::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.example::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
.example::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 767px) {

.content-massage{
  overflow-wrap:break-word  !important;
  max-width:200px !important;
}

}

